@use "./mixins" as *;
@use "./variables" as *;
@use "./typography" as *;

// RESETS
* {
    box-sizing: border-box;
}

a,
body,
button,
div,
footer,
form,
h1,
h2,
h3,
h4,
header,
html,
img,
input,
li,
p,
section,
span,
textarea,
ul {
    margin: 0;
    padding: 0;
}

// GLOBAL GENERAL
body {
    font-family: "Avenir Next", sans-serif;
    @include font-body;
}

::placeholder {
    color: $primary-color-brainflix-black;
}

.btn {
    position: relative;
    @include flexbox(row, center, center);
    border: none;
    border-radius: 0.25rem;
    width: 100%;
    height: 2.5rem;
    background-color: $primary-color-blue;
    @include font-label($primary-color-white);
    text-decoration: none;
    cursor: pointer;

    @include tablet {
        flex: 0 0 10rem;
    }

    &:hover {
        background-color: $secondary-color-darkblue;
    }

    &__icon {
        position: absolute;
        left: 5%;
        height: 1.25rem;
    }
}

.avatar {
    flex: 0 0 2.25rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: $secondary-color-mercury;
    overflow: hidden;

    @include tablet {
        width: 2.5rem;
    }

    &--between {
        @include tablet {
            display: none;
        }
    }

    &--after {
        display: none;

        @include tablet {
            display: block;
        }
    }

    &__image {
        height: 100%;
        aspect-ratio: auto;
    }
}
