// BREAKPOINTS
$breakpoint-min-tablet: 768px;
$breakpoint-min-desktop: 1280px;

// SPACING
$spacing-xxlg: 7.5rem;
$spacing-xlg: 2.5rem;
$spacing-lg: 2rem;
$spacing-med: 1.5rem;
$spacing-sm: 1rem;
$spacing-xsm: 0.5rem;

// COLORS
$primary-color-brainflix-black: #323232;
$primary-color-blue: #0095ff;
$primary-color-silver: #afafaf;
$primary-color-white: #ffffff;
$secondary-color-brainflix-darkblack: #000000;
$secondary-color-darkblue: #0065ad;
$secondary-color-mercury: #e1e1e1;
$secondary-color-alabaster: #fafafa;

// FONT SIZE - MOBILE
$font-size-large: 1.5rem;
$font-size-body: 0.8125rem;
$font-size-small: 0.625rem;

// FONT SIZE - DESKTOP + TABLET
$font-size-dt-large: 2.25rem;
$font-size-dt-body: 0.875rem;
$font-size-dt-small: 0.75rem;

// FONT WEIGHT
$font-weight-regular: 400;
$font-weight-demi: 600;
$font-weight-bold: 700;
