@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.upload {
    margin: $spacing-sm $spacing-sm;
    border-top: 1px solid $secondary-color-mercury;

    @include tablet {
        margin: 0 $spacing-lg;
    }

    @include desktop {
        margin: $spacing-lg $spacing-xxlg;
    }

    &__title {
        margin: $spacing-sm 0;
        @include font-header;

        @include tablet {
            margin: $spacing-lg 0;
            border-bottom: 1px solid $secondary-color-mercury;
            padding-bottom: $spacing-med;
        }
    }
}
