@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.queue {
    margin: $spacing-sm $spacing-sm $spacing-lg;

    &__subtitle {
        @include font-label($primary-color-silver);
    }

    &__list {
        list-style-type: none;
    }

    &__item {
        @include flexbox(row, normal, normal);
        gap: $spacing-sm;
        margin: $spacing-sm 0;
        cursor: pointer;
    }

    &__image-container {
        flex-shrink: 0;
        width: 35%;
        aspect-ratio: 1.75 / 1;
        border-radius: 0.25rem;
        overflow: hidden;
    }

    &__image {
        height: 100%;
        aspect-ratio: auto;
    }

    &__container {
        @include flexbox(column, space-between, normal);
    }

    &__title {
        @include font-body($primary-color-brainflix-black, $font-weight-demi);
    }

    &__name {
    }
}
