@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.queue {
    margin: $spacing-sm $spacing-sm $spacing-lg;

    @include tablet {
        margin: $spacing-med $spacing-lg $spacing-xlg;
    }

    @include desktop {
        margin: 0;
    }

    &__subtitle {
        @include font-label($primary-color-silver);
    }

    &__list {
        list-style-type: none;
    }

    &__item {
        @include flexbox(row, normal, normal);
        gap: $spacing-sm;
        margin: $spacing-sm 0;
        cursor: pointer;

        @include tablet {
            gap: $spacing-med;
            margin: $spacing-med 0;
        }
    }

    &__image-container {
        flex-shrink: 0;
        width: 35%;
        aspect-ratio: 1.75 / 1;
        border-radius: 0.25rem;
        overflow: hidden;

        @include tablet {
            width: 7rem;
        }
    }

    &__image {
        height: 100%;
        aspect-ratio: auto;
    }

    &__container {
        @include flexbox(column, space-between, normal);

        @include tablet {
            width: 11rem;
        }
    }

    &__title {
        @include font-body($primary-color-brainflix-black, $font-weight-demi);
    }

    // &__name {
    // }
}
