@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.comments {
    margin: $spacing-sm;

    @include tablet {
        margin: $spacing-med $spacing-lg;
    }

    @include desktop {
        margin: 0;
    }

    &__subtitle {
        @include font-body($primary-color-brainflix-black, $font-weight-demi);
        margin: $spacing-med 0;
    }

    &__form-container {
        @include flexbox(row, normal, flex-start);
        gap: $spacing-sm;
        margin-top: $spacing-sm;
        padding: $spacing-sm 0;
        border-bottom: 1px solid $secondary-color-mercury;

        @include desktop {
            border-bottom: none;
        }
    }

    &__form {
        @include flexbox(column, normal, normal);
        gap: $spacing-sm;
        margin-top: -1.25rem;

        @include tablet {
            @include flexbox(row, normal, normal);
            width: 100%;
        }
    }

    &__input-container {
    }

    &__label {
        @include font-label($primary-color-silver);
    }

    &__input {
        width: 100%;
        height: 6rem;
        padding: $spacing-xsm;
        border: 1px solid $secondary-color-mercury;
        border-radius: 0.25rem;
        min-height: $spacing-lg;
        background-color: $secondary-color-alabaster;
        outline: none;
        resize: none;
        font-family: "Avenir Next", sans-serif;
        @include font-body($primary-color-brainflix-black, $font-weight-regular);

        &:focus {
            border: 2px solid $primary-color-blue;
        }

        @include tablet {
            height: 2.5rem;
        }
    }

    &__list {
        width: 100%;
        list-style: none;
    }

    &__item {
        @include flexbox(row, normal, flex-start);
        gap: $spacing-sm;
        width: 100%;
        padding: $spacing-sm 0;
        border-bottom: 1px solid $secondary-color-mercury;

        @include tablet {
            padding: $spacing-med 0;
        }

        @include desktop {
            border-top: 1px solid $secondary-color-mercury;
            border-bottom: none;
        }
    }

    &__content-container {
        @include flexbox(column, normal, normal);
        gap: $spacing-xsm;
    }

    &__details-container {
        @include flexbox(row, space-between, center);
    }

    &__name {
        @include font-body($primary-color-brainflix-black, $font-weight-demi);
    }

    &__date {
        @include font-body($primary-color-silver, $font-weight-regular);
    }

    // &__comment {
    // }
}
