@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.upload-form {
    // &__form {
    // }

    &__container {
        @include desktop {
            @include flexbox(row, normal, normal);
            gap: $spacing-lg;
        }
    }

    &__thumbnail-container {
        @include desktop {
            @include flexbox(column, normal, normal);
            flex: 0 0 35%;
        }
    }

    &__image {
        width: 100%;
        background-color: $secondary-color-mercury;

        @include tablet {
            width: 50%;
        }

        @include desktop {
            width: 100%;
        }
    }

    &__content-container {
        @include flexbox(column, normal, normal);
        gap: $spacing-sm;
        margin: $spacing-sm 0;

        @include desktop {
            margin: 0;
            width: 100%;
        }
    }

    // &__title-container {
    // }

    &__description-container {
        @include desktop {
            @include flexbox(column, normal, normal);
            height: 100%;
        }
    }

    &__label {
        width: 100%;
        @include font-label($primary-color-silver);
    }

    &__input {
        border: 1px solid $secondary-color-mercury;
        border-radius: 0.25rem;
        padding: $spacing-xsm;
        width: 100%;
        height: 2.5rem;
        background-color: $secondary-color-alabaster;
        font-family: "Avenir Next", sans-serif;
        @include font-body($primary-color-brainflix-black, $font-weight-regular);
        outline: none;

        @include tablet {
            height: 2.5rem;
        }

        &:focus {
            border: 2px solid $primary-color-blue;
        }

        &--textarea {
            height: 6rem;
            resize: none;

            @include desktop {
                height: 100%;
            }
        }
    }

    &__cta-container {
        @include flexbox(column, center, center);
        gap: $spacing-sm;
        margin: $spacing-sm 0;

        @include tablet {
            @include flexbox(row, flex-end, center);
            gap: 5.5rem;
            margin: $spacing-med 0;
            border-top: 1px solid $secondary-color-mercury;
            padding-top: $spacing-med;
        }
    }

    &__cancel {
        margin: $spacing-lg 0;

        @include tablet {
            order: -1;
            margin: 0;
        }
    }

    &__link {
        @include font-label($primary-color-blue);
        text-decoration: none;
    }
}
