@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.main {
    &__container {
        margin: 0 $spacing-sm;

        @include tablet {
            margin: 0 $spacing-lg;
        }

        @include desktop {
            @include flexbox(row, normal, normal);
            margin: $spacing-lg $spacing-xxlg;
        }
    }

    &__content-container {
        @include desktop {
            border-right: 1px solid $secondary-color-mercury;
            flex: 1;
            overflow: hidden;
        }
    }

    &__queue-container {
        @include desktop {
            padding-left: $spacing-med;
            flex-shrink: 0;
        }
    }
}
