@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.comments {
    &__item {
        @include flexbox(row, normal, flex-start);
        gap: $spacing-sm;
        width: 100%;
        padding: $spacing-sm 0;
        border-bottom: 1px solid $secondary-color-mercury;
    }

    &__content-container {
        @include flexbox(column, normal, normal);
        gap: $spacing-xsm;
    }

    &__details-container {
        @include flexbox(row, space-between, center);
    }

    &__name {
    }

    &__date {
    }

    &__comment {
    }
}
