@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.info {
    @include flexbox(column, normal, normal);
    gap: $spacing-sm;
    margin: $spacing-sm 0;

    @include tablet {
        margin: $spacing-med 0;
    }

    @include desktop {
        margin: 0 0 $spacing-med;
    }

    &__title {
        @include font-header;
    }

    &__container {
        @include flexbox(row, normal, normal);
        gap: $spacing-med;
        border-top: 1px solid $secondary-color-mercury;
        border-bottom: 1px solid $secondary-color-mercury;
        padding: $spacing-sm 0;

        @include tablet {
            justify-content: space-between;
            border-top: none;
            padding: 0 0 $spacing-xsm;
        }

        @include desktop {
            padding-right: $spacing-med;
        }
    }

    &__data-container {
        @include flexbox(column, normal, normal);
        gap: $spacing-sm;

        @include tablet {
            @include flexbox(row, normal, normal);
            gap: $spacing-lg;
        }
    }

    &__name {
        @include font-body($primary-color-brainflix-black, $font-weight-demi);
    }

    &__data {
        @include flexbox(row, normal, normal);
        gap: $spacing-xsm;
        @include font-body($primary-color-silver, $font-weight-regular);
    }

    // &__icon {
    // }

    &__description {
        @include tablet {
            width: 95%;
        }
    }
}
