@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.info {
    @include flexbox(column, center, normal);
    gap: $spacing-sm;
    margin: $spacing-sm;

    &__title {
        @include font-header;
    }

    &__container {
        @include flexbox(row, normal, normal);
        gap: $spacing-med;
        padding: $spacing-sm 0;
        border-top: 1px solid $secondary-color-mercury;
        border-bottom: 1px solid $secondary-color-mercury;
    }

    &__data-container {
        @include flexbox(column, normal, normal);
        gap: $spacing-sm;
    }

    &__data {
        @include flexbox(row, normal, normal);
        gap: $spacing-xsm;
    }

    &__icon {
    }

    &__description {
    }
}
